:root {
    --primary-color: #1e2a38; /*dark navy*/
    --accent-color: #c89b3c; /*gold*/
    --light-color: white;
}

body {
    margin: 0;
    padding: 0;
}

/* Navigation */
.navbar {
    background-color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}

/*Nav Logo*/
.logo img {
    padding-top: 10px;
    height: 70px;
    margin-left: 10px;
}

/*Nav-links*/
.nav-links {
    list-style: none;
    display: flex;
    padding-top: 10px;
    padding-right: 30px;
    gap: 150px;  
}

.nav-links a {
    text-decoration: none;
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.nav-links a:hover {
    color: var(--accent-color);
}

/*Nav Quote Button*/
.quote-btn {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
}

.quote-btn:hover {
    background-color: var(--accent-color);
}

@media (max-width: 768px) {
    .navbar {
        padding: 0;
    }

    .logo img {
        display: none;
    }

    .menu-toggle {
        margin-right: auto;
        font-size: 28px;
        margin-left: 5px;
        display: block;
        cursor: pointer;
    }

    .nav-links {
        flex-direction: column;
        display: none;
        gap: 0;
        width: 100%;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li a {
        width: 100%;
        text-align: center;
        padding: 14px;
    }
    .quote-btn {
        margin-left: 50px; /*need to fix*/
    }
}


  
