:root {
    --primary-color: #1e2a38; /*dark navy*/
    --accent-color: #c89b3c; /*gold*/
    --light-color: white;
}

body {
    margin: 0;
    padding: 0;
}

/* Navigation */
.navbar {
    background-color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}

/*Nav Logo*/
.logo img {
    padding-top: 10px;
    height: 70px;
    margin-left: 10px;
}

/*Nav-links*/


.nav-links a:hover {
    color: var(--accent-color);
}

#toggle-nav {
    display: none;
}

/*Nav Quote Button*/
.quote-btn {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
}

.quote-btn:hover {
    background-color: var(--accent-color);
}

.hide-small {
    list-style: none;
    display: flex;
    padding-top: 10px;
    padding-right: 30px;
    gap: 150px;
    margin: 0;
}

.nav-links,
.hide-small {
    list-style: none;
    display: flex;
    padding-top: 10px;
    padding-right: 30px;
    gap: 150px;
    margin: 0;
}

.nav-links a,
.hide-small a {
    text-decoration: none;
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.nav-links a:hover,
.hide-small a:hover {
    color: var(--accent-color);
}

@media (max-width: 768px) {
    .navbar {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 20px;
        min-height: 20px;
    }

    .logo img {
        display: none;
    }

    #toggle-nav {
        display: block;
        background: transparent;
        border: none;
        color: var(--primary-color);
        font-size: 1.8rem;
        padding-top: 5px;
        margin: 0;
        cursor: pointer;
    
    }

    .quote-btn {
        position: absolute;
        left: 21%;
        padding: 8px 14px;
        font-size: 14px;
        white-space: nowrap;
    }

    .hide-small {
        display: none;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        flex-direction: column;
        gap: 0;
        margin: 0;
        padding: 10px 0;
        background: white;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
        z-index: 1000;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        width: 100%;
    }

    .nav-links li a {
        display: block;
        width: 100%;
        padding: 12px 0;
        text-align: center;
    }
}

  
